# 深度学习方法

In [2]:
import os
import pandas as pd

In [3]:
os.listdir('.')

['predict.py',
 '.gitignore',
 'deep.ipynb',
 '.git',
 'notebook.ipynb',
 'dataset',
 '.idea']

In [14]:
baseinfo = pd.read_csv('dataset/1baseinfo.csv')

train = pd.read_csv('dataset/train.csv')

baseinfo['EID']=baseinfo['EID'].fillna(0)
baseinfo['CreateYear']=baseinfo['CreateYear'].fillna(0)
baseinfo['TradeType']=baseinfo['TradeType'].fillna(0)
baseinfo['RegisteredCapital']=baseinfo['RegisteredCapital'].fillna(0)
baseinfo['Feature1']=baseinfo['Feature1'].fillna(0)
baseinfo['Feature2']=baseinfo['Feature2'].fillna(0)
baseinfo['Feature3']=baseinfo['Feature3'].fillna(0)
baseinfo['Feature4']=baseinfo['Feature4'].fillna(0)
baseinfo['Feature5']=baseinfo['Feature5'].fillna(0)

train['EndDate'] = train['EndDate'].fillna('250001')
train['EndDate']=train['EndDate'].astype('int')




merged_data = pd.merge(baseinfo, train, on='EID', how='right')

merged_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>EID</th>
      <th>CreateYear</th>
      <th>TradeType</th>
      <th>RegisteredCapital</th>
      <th>Type</th>
      <th>Feature1</th>
      <th>Feature2</th>
      <th>Feature3</th>
      <th>Feature4</th>
      <th>Feature5</th>
      <th>Y</th>
      <th>EndDate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>732046267</td>
      <td>1980</td>
      <td>51.0</td>
      <td>480.0</td>
      <td>13</td>
      <td>25.0</td>
      <td>1.0</td>
      <td>98041.0</td>
      <td>17.0</td>
      <td>0.0</td>
      <td>0</td>
      <td>250001</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1338267101</td>
      <td>2005</td>
      <td>74.0</td>
      <td>240.0</td>
      <td>5</td>
      <td>0.0</td>
      <td>2.0</td>
      <td>1500.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0</td>
      <td>250001</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1057042610</td>
      <td>2011</td>
      <td>75.0</td>
      <td>3000.0</td>
      <td>6</td>
      <td>4.0</td>
      <td>8.0</td>
      <td>10500.0</td>
      <td>13.0</td>
      <td>0.0</td>
      <td>0</td>
      <td>250001</td>
    </tr>
    <tr>
      <th>3</th>
      <td>400121247</td>
      <td>1982</td>
      <td>55.0</td>
      <td>1000.0</td>
      <td>6</td>
      <td>9.0</td>
      <td>2.0</td>
      <td>619318.0</td>
      <td>31.0</td>
      <td>0.0</td>
      <td>0</td>
      <td>250001</td>
    </tr>
    <tr>
      <th>4</th>
      <td>970179772</td>
      <td>1986</td>
      <td>53.0</td>
      <td>150.0</td>
      <td>17</td>
      <td>4.0</td>
      <td>1.0</td>
      <td>13000.0</td>
      <td>31.0</td>
      <td>0.0</td>
      <td>1</td>
      <td>201612</td>
    </tr>
  </tbody>
</table>
</div>