# xgboost方法

In [31]:
import pandas as pd

In [32]:
baseinfo = pd.read_csv('dataset/1baseinfo.csv')

train = pd.read_csv('dataset/train.csv')

train.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>EID</th>
      <th>Y</th>
      <th>EndDate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>692008013</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1027979431</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>645642407</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>263305383</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>501368665</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
merged_data = pd.merge(baseinfo, train, on='EID', how='right')

merged_data.head()

baseinfo['EID']=baseinfo['EID'].fillna(0)
baseinfo['CreateYear']=baseinfo['CreateYear'].fillna(0)
baseinfo['TradeType']=baseinfo['TradeType'].fillna(0)
baseinfo['RegisteredCapital']=baseinfo['RegisteredCapital'].fillna(0)
baseinfo['Feature1']=baseinfo['Feature1'].fillna(0)
baseinfo['Feature2']=baseinfo['Feature2'].fillna(0)
baseinfo['Feature3']=baseinfo['Feature3'].fillna(0)
baseinfo['Feature4']=baseinfo['Feature4'].fillna(0)
baseinfo['Feature5']=baseinfo['Feature5'].fillna(0)

train['EndDate'] = train['EndDate'].fillna('250001')
data_train = pd.merge(left=train[['EID']],right=baseinfo,left_on='EID',right_on='EID',how='left')
data_train.head()

data_train['CreateYear']=data_train['CreateYear'].astype('int')

data_train.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>EID</th>
      <th>CreateYear</th>
      <th>TradeType</th>
      <th>RegisteredCapital</th>
      <th>Type</th>
      <th>Feature1</th>
      <th>Feature2</th>
      <th>Feature3</th>
      <th>Feature4</th>
      <th>Feature5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>692008013</td>
      <td>2013</td>
      <td>51.0</td>
      <td>10000.0</td>
      <td>6</td>
      <td>6.0</td>
      <td>3.0</td>
      <td>15000.0</td>
      <td>7.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1027979431</td>
      <td>2012</td>
      <td>51.0</td>
      <td>10.0</td>
      <td>7</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>645642407</td>
      <td>2010</td>
      <td>19.0</td>
      <td>10.0</td>
      <td>7</td>
      <td>0.0</td>
      <td>2.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>263305383</td>
      <td>2013</td>
      <td>82.0</td>
      <td>100.0</td>
      <td>7</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>501368665</td>
      <td>2013</td>
      <td>87.0</td>
      <td>10.0</td>
      <td>7</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [34]:
import numpy as np
import xgboost as xgb

In [35]:
labels = train.Y.values

data_test = pd.read_csv('dataset/evaluation_public.csv',encoding='utf8')
data_test1 = data_test


data_test.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>EID</th>
      <th>Y</th>
      <th>PROB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1348399895</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>928335705</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>119031641</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1380483460</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>185600481</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [36]:
data_test = data_test['EID']

In [37]:
params={
    'booster':'gbtree',
    'objective': 'binary:logistic',
    'eval_metric': 'auc',
    
    'max_depth': 10,
    'subsample': 0.7, #0.7
    'colsample_bytree': 0.7, #0.7,
    'stratified':True,
    'min_child_weight': 15,
    'eta': 0.01,
    'seed': 20,
    'silent':1
}

dtrain = xgb.DMatrix(data_train, label=labels)
dtest = xgb.DMatrix(data_test, label=np.zeros(data_test.shape[0]))

In [38]:
res = xgb.cv(params, dtrain, 2000, nfold=5, early_stopping_rounds=50, verbose_eval=10)

[0]	train-auc:0.624817+0.00133765	test-auc:0.610356+0.00518502

[10]	train-auc:0.658903+0.00275477	test-auc:0.63383+0.00727532

[20]	train-auc:0.664754+0.00254733	test-auc:0.636598+0.00758136

[30]	train-auc:0.669187+0.0012977	test-auc:0.637669+0.00703409

[40]	train-auc:0.672188+0.00182714	test-auc:0.63801+0.00696522

[50]	train-auc:0.674712+0.0016591	test-auc:0.63835+0.00676643

[60]	train-auc:0.677105+0.00118745	test-auc:0.638671+0.00684169

[70]	train-auc:0.679802+0.00136983	test-auc:0.638907+0.00661918

[80]	train-auc:0.681589+0.00145088	test-auc:0.639252+0.00648514

[90]	train-auc:0.683757+0.0013853	test-auc:0.639596+0.00610061

[100]	train-auc:0.685552+0.00127661	test-auc:0.639834+0.00594796

[110]	train-auc:0.68702+0.00109928	test-auc:0.639887+0.00612762

[120]	train-auc:0.688422+0.00130681	test-auc:0.639914+0.00595518

[130]	train-auc:0.68976+0.00129517	test-auc:0.640031+0.00602627

[140]	train-auc:0.690895+0.00114065	test-auc:0.640062+0.00606573

[150]	train-auc:0.692089+0.00109135	test-auc:0.640313+0.00606756

[160]	train-auc:0.693326+0.00117995	test-auc:0.640358+0.00602247

[170]	train-auc:0.69453+0.00117974	test-auc:0.640443+0.00587872

[180]	train-auc:0.695729+0.00100974	test-auc:0.640621+0.00590057

[190]	train-auc:0.6968+0.00108721	test-auc:0.640714+0.0059402

[200]	train-auc:0.697866+0.0013471	test-auc:0.640789+0.00604945

[210]	train-auc:0.699102+0.00141351	test-auc:0.640921+0.005922

[220]	train-auc:0.700016+0.00134965	test-auc:0.641037+0.0060137

[230]	train-auc:0.700991+0.00120155	test-auc:0.641074+0.00595196

[240]	train-auc:0.702043+0.00121657	test-auc:0.641129+0.00601915

[250]	train-auc:0.702893+0.00113828	test-auc:0.641225+0.00602715

[260]	train-auc:0.703737+0.000995208	test-auc:0.641294+0.00601759

[270]	train-auc:0.704632+0.000892221	test-auc:0.641265+0.00603292

[280]	train-auc:0.705376+0.000778577	test-auc:0.641339+0.00592833

[290]	train-auc:0.706105+0.000692443	test-auc:0.641441+0.00590217

[300]	train-auc:0.706839+0.000734032	test-auc:0.641441+0.00589615

[310]	train-auc:0.707521+0.000736087	test-auc:0.641386+0.00590433

[320]	train-auc:0.708188+0.000736013	test-auc:0.641336+0.00596573

[330]	train-auc:0.708815+0.000623698	test-auc:0.641361+0.00599198

[340]	train-auc:0.709475+0.000638852	test-auc:0.641418+0.0059704

In [24]:
watchlist = [(dtrain, 'train')]
model = xgb.train(params, dtrain, len(res), watchlist, verbose_eval=10)

[0]	train-auc:0.633472

[10]	train-auc:0.662439

[20]	train-auc:0.664916

[30]	train-auc:0.669319

[40]	train-auc:0.672114

[50]	train-auc:0.674351

[60]	train-auc:0.675922

[70]	train-auc:0.67808

[80]	train-auc:0.679208

[90]	train-auc:0.681114

[100]	train-auc:0.682297

[110]	train-auc:0.683549

[120]	train-auc:0.68494

[130]	train-auc:0.686094

[140]	train-auc:0.687295

[150]	train-auc:0.68847

[160]	train-auc:0.689279

[170]	train-auc:0.69017

[180]	train-auc:0.691033

[190]	train-auc:0.691848

[200]	train-auc:0.692422

[210]	train-auc:0.693513

[220]	train-auc:0.69469

[230]	train-auc:0.695289

[240]	train-auc:0.696073

[250]	train-auc:0.696513

[260]	train-auc:0.697219

[270]	train-auc:0.698244

[280]	train-auc:0.699061

[290]	train-auc:0.699917

[294]	train-auc:0.700072

In [39]:
data_test = pd.merge(left=data_test1[['EID']],right=baseinfo,left_on='EID',right_on='EID',how='left')
data_test.count()

EID                  149715
CreateYear           149715
TradeType            149715
RegisteredCapital    149715
Type                 149715
Feature1             149715
Feature2             149715
Feature3             149715
Feature4             149715
Feature5             149715
dtype: int64

In [40]:
dtest = xgb.DMatrix(data_test, label=np.zeros(data_test.shape[0]))

In [41]:
ptest = model.predict(dtest)

In [42]:
sub = pd.DataFrame({'EID':data_test.EID, 'FORTARGET':[1 if i > 0.18 else 0 for i in ptest], 'PROB':ptest})
sub.to_csv("result/xgbppst.csv", index=0, float_format='%.4f')